@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300);

.login {
    width: 360px;
    padding: 8% 0 0;
    margin: auto
}
.Login {
    position: static;
    text-align: center;
    z-index: 1;
    background: skyblue;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}
body {
    background: white; /* for old browsers just in case cause maybe?*/
    font-family: "Fira Sans", sans-serif;
}